@{
    ViewData["Title"] = "Error 404";
}

@section Styles{
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="/css/error404.css" asp-append-version="true"/>
}

<div id="notfound">
    <div class="notfound">
        <div>
            <div class="notfound-404">
                <h1>!</h1>
            </div>
            <h2>Error<br>404</h2>
        </div>
        <p> The page you look for seems doesn't exist  <a class="text-chocolate" href="/">Back to home page.</a></p>
    </div>
</div>
