@{
    ViewData["Title"] = "Home";
}
<br />
<div class="text-center bg-dark">
    <h1 class="text-blue font-weight-bold">Hi, Im Daniel, Web developer</h1>
    <h3 class="text-blue font-weight-bold">Welcome to my place</h3>
    <br />
    <hr style="background-color: gold" />
</div>
<br />
<br />
<h1 class="text-blue">Recenly changed</h1>
<br />
<div>
    <div class="card-deck">
        <div class="card border-blue bg-dark">
            <div class="card-body">
                <h5 class="card-title text-chocolate">Minning Forum</h5>
                <p class="card-text text-green">C# Exercises from SoftUni Proffesional Path</p>
                <p class="card-text text-green"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card border-blue bg-dark">
            <div class="card-body">
                <h5 class="card-title text-chocolate">Car Battery Shop</h5>
                <p class="card-text text-green">C# Exercises from SoftUni Proffesional Path</p>
                <p class="card-text text-green"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div> <div class="card border-blue bg-dark">
            <div class="card-body">
                <h5 class="card-title text-chocolate">Test</h5>
                <p class="card-text text-green">C# Exercises from SoftUni Proffesional Path</p>
                <p class="card-text text-green"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />