@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 card border-blue text-center" style="background-color: transparent">
        <div class="row h4 mt-3">
            <div class="col-6 text-center">
                <a class="text-chocolate" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
            </div>
            <div class="col-6 text-center">
                <a class="text-chocolate" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
            </div>
        </div>
        <section>
            <form id="account" method="post">
                <hr / style="background-color: cadetblue">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group text-left">
                    <label class="text-green" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control text-warning border-blue" style="background-color: transparent"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group text-left">
                    <label class="text-green" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control text-warning border-blue" style="background-color: transparent"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="text-green" asp-for="Input.RememberMe">
                            <input  asp-for="Input.RememberMe" />
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Вход</button>
                </div>
                <div class="form-group">
                    <p>
                        <a class="text-chocolate" id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                    </p>
                    <p>
                        <a class="text-chocolate" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Препрати имейл потвърждение</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
