/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.border-custom-gold {
    border-top-color: goldenrod !important;
    border-top-width: 3px !important;
    border-bottom-color: goldenrod !important;
    border-bottom-width: 3px !important;
}

.navbar-brand {
    color: coral !important;
}

.text-chocolate {
    color: chocolate !important;
}

.text-blue {
    color: cadetblue !important;
}

.text-green {
    color: darkseagreen !important;
}

.border-gold {
    border-top-color: goldenrod;
    border-bottom-color: goldenrod;
    border-right-color: goldenrod;
    border-left-color: goldenrod;
}
.border-all-borders-gold {
    border-top-color: goldenrod;
    border-top-width: 1px;
    border-bottom-color: goldenrod;
    border-bottom-width: 1px;
    border-right-color: goldenrod;
    border-right-width: 1px;
    border-left-color: goldenrod;
    border-left-width: 1px;
}

.border-blue {
    border-top-color: cadetblue;
    border-top-width: 2px;
    border-bottom-color: cadetblue;
    border-bottom-width: 2px;
    border-right-color: cadetblue;
    border-right-width: 2px;
    border-left-color: cadetblue;
    border-left-width: 2px;
}

.wordwrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.dropdown-menu, .dropdown-item:hover, .dropdown-item:focus {

    color: #16181b;
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
}

.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}


    .notification .badge-custom {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        position: absolute;
        top: -2px;
        right: -2px;
        padding: 2px 4px;
        border-radius: 80%;
        background-color: gold;
        color: black;
    }
