@model Workshop.Web.ViewModels.Courses.CourseInputModel

<form class="form-group" asp-area="Learning" asp-controller="Courses" asp-action="Create" method="post">
    <div class="row">
        <input asp-for="Name" class="form-control col-10" type="text" value="" />
        <button class="btn btn-success col-2">+</button>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</form>
