
<div id="notification" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11; position: absolute; bottom: 0; right: 0;">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" background-color: style="background-color: rgba(255, 255, 255, 0.1) !important ">
        <div class="toast-header" style="background-color: rgba(255, 255, 255, 0.01) !important">
            <div id="notificationSender" class="text-green"></div>
            <input type="hidden" id="notificationLink" value="" />
        </div>
        <div id="notifyMessage" class="toast-body text-warning" style="background-color: rgba(255, 255, 255, 0.1) !important ">
        </div>
    </div>
</div>
