<div id="myModal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-all-borders-gold" style="background-color: #3f474e !important">
                <div class="modal-header border-all-borders-gold">
                    <h5 class="modal-title text-green" id="exampleModalLabel">Users</h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-all-borders-gold" style="overflow: auto; max-height: 350px">
                    <input type="hidden" id="modalRoleId" value="" />
                    <table id="usersRoleModal" class="table table-active text-center" style="background-color: #3f474e !important">
                    </table>
                </div>
                <div class="modal-footer border-all-borders-gold">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
